.sponsors {
  $self: &;

  &__heading {
    &--sub {
      font-size: 2.4rem;
      margin: 0;
    }
  }

  &__container {
    margin-bottom: 20px;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__footer-text {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
  }

  &__footer-link {
    transition: 0.2s ease-in-out color;
    text-decoration: underline;
    color: #8DC53E;
    &:hover {
      color: adjust-color($color: #8DC53E, $lightness: -10%);
    }
  }

  &__leaf {
    &--0 {
      width: 200px;
      top: 20px;
      left: 50px;
      fill: #8DC53E;
    }
    &--1 {
      width: 200px;
      top: calc(100% - 80px);
      left: calc(100% - 220px);
      fill: #C79F59;
    }
  }

  @keyframes sponsors__fade {
    from { opacity: 0; transform: translate3d(0, -40px, 0) }
    to { opacity: 1; transform: translate3d(0, 0, 0) }
  }
}

// Animations
.htv__section--show {
  .sponsors {
    &__heading {
      animation: sponsors__heading 0.8s ease-in-out 0s backwards;
      @keyframes sponsors__heading {
        from { opacity: 0; transform: translate3d(0, -60px, 0) }
        to { opacity: 1; transform: translate3d(0, 0, 0) }
      }
    }
  }
}

@include media-query($on-laptop) {
  .sponsors {
    $self: &;
  }
}

@include media-query($on-palm) {
  .sponsors {
    $self: &;
    &__leaf {
      &--0 {
        width: 140px;
        top: 20px;
        left: 50px;
      }
      &--1 {
        width: 140px;
        top: calc(100% - 80px);
        left: calc(100% - 160px);
      }
    }
  }
}